//== Colors

$brand-primary:         #997d62;

$brand-comp-cw: 		adjust-hue($brand-primary, 15deg);
$brand-comp-ccw: 		adjust-hue($brand-primary, -15deg);
$brand-contrast: 		adjust-hue($brand-primary, 180deg);

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 20%) !default;
$gray-dark:              lighten($gray-base, 30%) !default;
$gray:                   lighten($gray-base, 50%) !default;
$gray-light:             lighten($gray-base, 73%) !default;
$gray-lighter:           lighten($gray-base, 95%) !default;


//** Background color for `<body>`.
$body-bg:               #FBFFF1 !default;
//** Global text color on `<body>`.
$text-color:            #A68D77;
$text-color-inverted: invert($text-color);

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 20%) !default;

@import '../../master_sass/include/colour_pro';
