//== Typography
$font-family-base:			'Open Sans', -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
$font-weight:				300 !default;
$font-size-base:			16px;
$font-scale:				.35vw;

$headings-font-family:		'Handlee', Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$heading-font-size-base:	1.3em;
$headings-font-weight:		400 !default;
$headings-line-height:		1.3 !default;
$headings-color:			$gray-darker;

//** Buttons.
$btn-font-weight: 600;
$btn-border-width: 1px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:			1.5 !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:		monospace !default;

$border-radius-base:		.5rem;
